* {
    font-size: 15px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.navMargin {
    margin-top: 55px;
}

body,
html {
    height: 100%;
}

.fixed {
    position: fixed;
    z-index: 1;
}

ul>li:hover {
    border-bottom: 2px solid black
}

.active {
    border-bottom: 2px solid black;
}

.imgHolder {
    width: 90%;
    background-position: center;
    color: #ffffff;
    min-height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/public/images/download.png')
}

.imgHolderV {
    width: 100%;
    background-position: center;
    color: #ffffff;
    min-height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/images/pix-vertical-placeholder.jpg');
}

.banner1 {
    background-image: linear-gradient(to top, rgba(224, 27, 43, 0.3), rgba(130, 142, 186, .09)), url('/images/bannerOne.jpg');
}

.imgHolderR {
    width: 100%;
    border-radius: 50%;
    background-position: center;
    color: #ffffff;
    min-height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/images/download.png')
}

.borderProp {
    border-left: 3px solid gray
}

.redText {
    color: red;
}

.backColor {
    background-color: rgb(209, 196, 194);
}

.imgHolderL {
    width: 95%;
    border-radius: 50%;
    background-position: center;
    color: black;
    min-height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/images/download.png')
}

.imgHolderS {
    width: 100%;
    border-radius: 50px;
    background-position: center;
    color: black;
    min-height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/images/download.png')
}

a {
    text-decoration: none;
    color: black;
}

.hidden {
    display: none;
}

.focusColor {
    background-color: rgba(218, 231, 235)
}

#submit:hover {
    background-color: white;
    color: black;
}

#cancel:hover {
    background-color: white;
    color: black;
}

.errorRed::placeholder {
    color: white;
}

.errorRed {
    background-color: rgba(210, 0, 0, 0.2);
}

.largePoint {
    font-size: 15px;
    font-weight: bold;
}

.parallax {
    /* Full height */
    height: 250px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.stadium {
    /* The image used */
    background-image: linear-gradient(to top, rgba(224, 27, 43, 0.3), rgba(130, 142, 186, .09)), url('/images/Open.jpg');
}

.second {
    background-image: linear-gradient(to top, rgba(65, 0, 176, 0.3), rgba(130, 142, 186, .09)), url('/images/Second.jpg');
}

.teams {
    background-image: linear-gradient(to top, rgba(224, 27, 43, 0.3), rgba(130, 142, 186, .09)), url('/images/Teams.jpg');
}

.register {
    background-image: linear-gradient(to top, rgba(65, 0, 176, 0.3), rgba(130, 142, 186, .09)), url('/images/register.png');
}

.banner2 {
    background-image: linear-gradient(to top, rgba(65, 0, 176, 0.3), rgba(130, 142, 186, .09)), url('/images/banner3.jpeg');
}

.registerImg {
    background-image: linear-gradient(to top, rgba(224, 27, 43, 0.3), rgba(130, 142, 186, .09)), url('/images/yourhere.png');
}

.teamCard {
    background-image: linear-gradient(to top, rgba(224, 27, 43, 0.3), rgba(130, 142, 186, .09)), url('/images/download.jpg');
}

.thumbCard {
    background-image: linear-gradient(to top, rgba(65, 0, 176, 0.3), rgba(130, 142, 186, .09)), url('/images/download.jpg');
}

.nrgLogo {
    background-image: linear-gradient(to top, rgba(224, 27, 43, 0.3), rgba(130, 142, 186, .09)), url('/images/nrg.png');
}

.liqLogo {
    background-image: linear-gradient(to top, rgba(224, 27, 43, 0.3), rgba(130, 142, 186, .09)), url('/images/Liquid.jpg');
}

.tsmLogo {
    background-image: linear-gradient(to top, rgba(224, 27, 43, 0.3), rgba(130, 142, 186, .09)), url('/images/TSM_Logo.jpg');
}

.comLogo {
    background-image: linear-gradient(to top, rgba(224, 27, 43, 0.3), rgba(130, 142, 186, .09)), url('/images/complex.png');
}

.parallaxReg {
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.stadiumTwo {
    /* The image used */
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, .09)), url('/images/Open2.jpg');
}